@model FoodViewModel
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!DOCTYh3E html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewh3ort" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" tyh3e="text/css" href="css/style.css">
	<title></title>
</head>
<body>
	<div class="categories">
		<div class="text-menu">
			<a href="frame2.html" target="main">
				<img height="70px" width="70px" src="images/first.png"
					 onmouseover="changeImage1(1,this)"
					 onmouseout="changeImage1(2,this)">
				<!-- <h3>Первое</h3> -->
			</a>
		</div>
		<div class="text-menu">
			<a href="frame2.html" target="main">
				<img height="70px" width="70px" src="images/second.png"
					 onmouseover="changeImage2(1,this)"
					 onmouseout="changeImage2(2,this)">
				<!-- <h3>Второе</h3> -->
			</a>
		</div>
		<div class="text-menu">
			<a href="frame3.html" target="main">
				<img height="70px" width="70px" src="images/salad.png"
					 onmouseover="changeImage3(1,this)"
					 onmouseout="changeImage3(2,this)">
				<!-- <h3>Салаты</h3> -->
			</a>
		</div>
		<div class="text-menu">
			<a href="">
				<img height="70px" width="70px" src="images/drink.png"
					 onmouseover="changeImage4(1,this)"
					 onmouseout="changeImage4(2,this)">
				<!-- <h3>Напитки</h3>	 -->
			</a>

		</div>
	</div>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>