@model FoodViewModel
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


    <!-- Menu Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Меню</h5>
                <h1 class="mb-5">Иштиҳои соф</h1>
            </div>
            <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                    <li class="nav-item">
                    </li>
                </ul>

                <div class="tab-content">
                    @foreach (var food in Model.Foods)
                    {
                        var photoFilePath = "~/images/" + (food.PhotoFilePath ?? "burgericon.png");
                       
                            if (food.PhotoFilePath == "")
                            {
                                photoFilePath = "~/images/icons/burgericon.png";
                            }
                            <div id="tab-1" class="tab-pane fade show p-0 active">
                                <div>
                                    <div class="col-lg-6">
                                        <div class="d-flex align-items-center">
                                            <img class="flex-shrink-0 img-fluid rounded" src="@photoFilePath" alt="" style="width: 80px;" asp-append-version="true">
                                            <div class="w-100 d-flex flex-column text-start ps-4">
                                                <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                    <span>@food.Name</span>
                                                    <span class="text-primary">@food.Price c</span>
                                                </h5>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary">Заказать</button>
                                    </div>
                                </div>
                            </div>
                        }
                </div>
            </div>
        </div>
    </div>

    <!-- Menu End -->


